/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* SOLARIZED css styles */

/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/

pre code {
  display: block; padding: 0.5em;
  background: #fdf6e3; 
  color: #657b83; /* base00 */
}

pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .lisp .string,
pre .javadoc {
  /*base1*/
  color: #93a1a1;
/*  font-style: italic;*/
}

pre .keyword,
pre .css .rule .keyword,
pre .winutils,
pre .javascript .title,
pre .method,
pre .addition,
pre .css .tag,
pre .lisp .title {
  /* green */
  color: #859900;
}

pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  /*cyan*/
  color: #2aa198;
}

pre .title,
pre .localvars,
pre .function .title,
pre .javascript .keyword,
pre .chunk,
pre .decorator,
pre .builtin,
pre .built_in,
pre .lisp .title,
pre .identifier,
pre .title .keymethods,
pre .id {
  /*blue*/
  color: #268bd2;
}

pre .tag .title,
pre .rules .property,
pre .django .tag .keyword {
  /*base01*/
/*  color: #586e75;*/
}

pre .attribute,
pre .variable,
pre .instancevar,
pre .lisp .body,
pre .smalltalk .number,
/*pre .constant,*/
pre .class .title,
pre .parent,
pre .haskell .label {
  /* yellow */
  color: #b58900;
}

pre .preprocessor,
pre .pi,
pre .shebang,
pre .symbol,
pre .diff .change,
pre .special,
pre .keymethods,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata {
  color: #cb4b16;
}

pre .deletion {
  color: #dc322f;
}

pre .tex .formula {
  background: #eee8d5;
}


/* ==|== primary styles =====================================================
   Author: Marcos Ojeda
   ========================================================================== */

.invalid input, .invalid textarea { background-color: #f0dddd; }

[data-type=editable], [data-type=slidable]{
  border-bottom: 1px dotted #fbb03b;
  padding: 0 3px;
}
[data-type=editable] input, [data-type=input] input{

  width:125px;
  border:2px solid white;
  -webkit-border-radius:4px;
  background-color:#4a4849;
  padding:2px;
  color:white; font-weight:bold;
}

.sliding, [data-type=slidable]{
  cursor: move; /* for ie8 */
  cursor: EW-resize; /* for everyone else */
}
[data-type=draggable], [data-type=droppable]{
  background-color:rgb(230, 150, 49);
  border:2px solid white;
  color: white;
  padding: 3px 6px;
  font-style:normal;
  font-weight:bold;
  cursor:move;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  z-index:50;
}
[data-type=droppable]{
  color:transparent;
  background-color: #4a4849;
  border-style:;
  display:inline-block;
  -webkit-box-shadow:0px 0px 2px #ddd;
  -webkit-box-shadow:0px 0px 2px #ddd;
  -webkit-box-shadow:0px 0px 2px #ddd;
  -webkit-box-shadow:0px 0px 2px #ddd;
  z-index:30;
  cursor:default;
}
[data-section]{
  display:none;
}



html {background-color: #4a4849; }
body { font-size:13px; line-height: 1.8em; color: #e6d6c4; }
header{ position:relative; height: 220px; }
#container { margin-left: 3em; }
h1{
  font-family: 'History 01 3', 'History-One', cursive; 
  font-size:72px; 
  line-height:2em;
  color:#399; 
  font-weight:normal; 
  position:absolute;
  top:0; left:0;
  letter-spacing:.25em;
}
h1.one { font-family: 'History 01 3', 'History-One' ; }
h1.seventeen{ font-family: 'History 17', 'History-Seventeen' ; }
h1.thirteen { font-family: 'History 13 2', 'History-Thirteen' ; }
h1.eleven { font-family: 'History 11', 'History-Eleven' ; }
h1.six { font-family: 'History 06', 'History-Six' ; }

pre code{ font-family: "Fedra Mono Medium 4", "fedra mono", "fedramono", "menlo", "courier", monospace; font-size:12px; line-height:1.6em; }

.bluegreen { color: #399; }
.orange { color: #f15a24; }
.yelloworange { color: #fbb03b; }
.pink { color:pink; }
.green { color:green; }
.blue { color:blue; }

h2 { font-size: 2em; line-height:1.5em; }
h3 { font-size: 1em; }

h2, h3 { 
  margin-top:2em; font-family: "History 06", "History-Six", "History-Four";
  font-weight:normal; letter-spacing: .25em;
  color: #fbb03b;
  border-bottom: 1px solid #fbb03b;
}

p {margin-bottom: 2em; }
#container{ width:600px; padding:20px; background-color: }
.example, ol pre{ width: 600px; } 
.example { margin-top:4em; position:relative; }
.demo {
  width:275px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  padding:1em;
  border:3px solid #e0e0e0;
  background-color:#754c24;
  color:;
}
.demo p { margin-bottom:1em; }
.example .demo {
  position:absolute;
  right:-350px; top:1.5em;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
  color: #fbb03b;
}







/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
